<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./img/weather.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/styles.css" />
    <title>About</title>
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    <p>This site was created by Ken White. It uses data from mapbox.com and weatherstack.com!</p>
    <img src="./img/pexels-kelvin-valerio-617278.jpg" alt="profile" class="portrait">
    </div>
    {{>footer}}
  </body>
</html>
